<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="bootstrap.php">
<testsuites>
    <testsuite name="Application">
        <directory>./../apps/web/Application/tests/</directory>
    </testsuite>
    <testsuite name="Finance">
        <directory>./../src/Finance/tests/</directory>
    </testsuite>
</testsuites>
</phpunit>
