<form   class="form-horizontal" role="form">

    <div class="form-group">

        <label for="idAccount">Account</label>
        <select  id="idAccount" name="idAccount" class="form-control">
        </select>
    </div>

    <div class="form-group">
        <label for="datepicker">Date</label>
        <input type="text"  class="form-control" name="datepicker" id="datepicker" value="<%= date %>" />
    </div>

    <div class="form-group">
        <input type="text" name="amount" class="form-control" id="amount" placeholder="Amount" value="<%= amount %>">
    </div>
    <div class="form-group">

        <textarea class="form-control" name="description" rows="3"><%= description %> </textarea>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Add</button>
        </div>
    </div>
</form>