
div.left-menu-block hr {
    margin-top: 0;
}

div.left-menu-block {
    margin-bottom: 2em;
}

div.finance-app {
    margin: 20px;
}

div.lightgray {
    background-color: #fAfAfA;
}

div.darkgray {
    background-color: #f1f1f1;
}

div.nav-meta {
    border-bottom: 1px solid #eee;
}
div.control-buttons span {
    margin-left: 10px;
}